* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: fixed; /* Mantém o cabeçalho fixo no topo da página */
    top: 0; /* Alinha o cabeçalho ao topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da página */
    background-color: #30cf358c ;
    display: flex;
    justify-content: space-around; /* Distribui o conteúdo do header */
    align-items: center;
    color: white;
    flex-wrap: wrap;
    z-index: 1000;
    padding: 5px;
}

header h1 {
    margin: 0;
    font-family: 'Lora', serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px; /* Espaçamento entre os itens do menu */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    padding-left: 8%;
}

.header-buttons button {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #4caf50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-buttons img {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    filter: brightness(0) invert(1); 
}

.header-buttons button:hover {
    background-color: #4caf50;
    color: #ffffff;
}

#about {
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.motivational-quote {
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 100px;
    width: 100%;
    color: #4caf50;
}

.motivational-quote p {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    margin: 20px 0;
    color: #4caf50;
    animation: bounce 2s infinite;
}

/* Animação de pulo */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}



#about .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre a imagem e o parágrafo */
    flex-wrap: wrap; /* Permite que o conteúdo quebre para baixo em telas menores */
}

#about img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#about p {
    max-width: 600px;
    text-align: left;
}


section {
    padding: 20px;
    text-align: center;
}

p {
    text-align: center; /* Centraliza os parágrafos */
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    width: 80%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-item p {
    text-align: left;
}

.service-item img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.service-info {
    text-align: left; /* Isso mantém os títulos e descrições dos serviços alinhados à esquerda */
}

.service-info h3 {
    color: #4caf50;
    margin-bottom: 10px;
}

#contact {
    padding-bottom: 80px  ;
}


#contact button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: brightness(0) invert(1); /* Torna o ícone branco */
}

#contact button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 auto; /* Centraliza o botão */
}

#contact button:hover {
    background-color: #159743;
}

footer {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #333333c5;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    box-sizing: border-box;
}
